search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  gap: 341px; 
  background: #0F1928;
  border-radius: 0px 0px 25px 25px;
}
wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 103px;

  width: 164px;
  height: 42.67px;
  background: #0F1928;
  border-radius: 0px 0px 25px 25px;
}
wrapper .textWrapper {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
}