nav {
  position: fixed;
  width: 1224px;

  top: 20px;
  background: #0F1928;
  border-radius: 0px 0px 25px 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  
}
nav .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

}
.icon {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px;
  gap: 15px;

  width: 60px;
  height: 58px;

/* Light white */



  
}


