nav {
  position: fixed;
  width: 1920px;

  top: 20px;
  background: #0F1928;
  border-radius: 0px 0px 25px 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  gap: 104px;
}
nav .wrapper .search {
  display: flex;
  gap: 1477px;
}