

:root {
  --dark-color-1: #040D1B;
  --dark-color-2: #0F1928;
  --grey-color: #878787;
  --pink-color: #E2577F;
  --purple-color: #4E3FE4;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
  
  
}
/* Home screen (No song playing) */
body {  
position: relative;
width: 1920px;
height: 1394px;
overflow-y: scroll;
background: #112038;

}